{% include "base.html" %} {% block content %} {% load crispy_forms_tags %}
<form
  method="post"
  class="mt-5 mb-2 mx-auto rounded p-3 shadow col-8 col-lg-5 col-md-6"
>
  <legend class="border-bottom pb-1">
    <h2 class="fs-4 fw-normal">Update User</h2>
  </legend>
  {% csrf_token %} {{ form|crispy }}
  <div class="border-bottom my-2"></div>
  <button class="btn btn-primary col-12 mb-1" type="submit">Update</button>
  <a href="{% url 'update_profile' %}" class="btn btn-outline-dark col-12 mb-1"
    >Update Profile</a
  >
  <a href="{% url 'password_reset' %}" class="btn btn-outline-dark col-12 mb-1"
    >Reset Password</a
  >
</form>
{% endblock %}
