{% include "base.html" %} {% block content %}
<div class="container mt-5 mb-2">
  <a data-create-post href="{% url 'add_post' %}?next=" class="btn btn-success"
    >Create New Post</a
  >

  {% if single_post %}
  <div class="mt-3 card px-3 py-2">
    <div
      data-redirect="{% url 'profile' post.user.id %}"
      style="cursor: pointer"
      class="d-flex align-items-center justify-content-start border-bottom pb-2 flex-wrap"
    >
      <img
        src="{{ post.user.profile.image.url }}"
        alt="{{ post.user.username }}"
        class="rounded-circle me-2"
        width="50"
        height="50"
      />
      <div class="text-break flex-fill">
        <p class="fs-5 m-0">{{ post.user.username }}</p>
        <p class="fs-6 m-0 text-secondary">{{ post.user.email }}</p>
      </div>
      <div class="text-secondary">{{ post.timestamp|date:"d/m/y" }}</div>
    </div>
    <p class="mt-2 pb-2 border-bottom">{{ post.text }}</p>
    <div class="btn-group mb-1" style="width: fit-content">
      {% if not user.is_authenticated %}
      <button class="btn btn-primary" disabled>
        Likes
        <span data-like-count class="badge bg-secondary rounded-pill"
          >{{ post.likes.count }}</span
        >
      </button>
      {% else %}
      <a
        data-like-post
        href="{% url 'like_post' post.id %}"
        class="btn btn-primary"
      >
        <div class="d-inline" id="like-action-for-{{ post.id }}">
          {% if user in post.likes.all %} Unlike {% else %} Like {% endif %}
        </div>

        <span
          id="like-count-for-{{ post.id }}"
          class="badge bg-secondary rounded-pill"
          >{{ post.likes.count }}</span
        >
      </a>
      {% if user.id == post.user.id %}
      <a
        data-edit-button
        href="{% url 'edit_post' post.id %}?next="
        class="btn btn-outline-secondary"
        >Edit</a
      >
      <a
        data-delete-button
        href="{% url 'delete_post' post.id %}?next="
        class="btn btn-outline-danger"
        >Delete</a
      >
      {% endif %} {% endif %}
    </div>
  </div>
  {% else %} {% if posts.count == 0 %}
  <h2
    class="fs-1"
    style="
      font-weight: 400;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    "
  >
    There are no posts!
  </h2>
  {% else %} {% for post in posts %}
  <div class="mt-3 card px-3 py-2">
    <div
      data-redirect="{% url 'profile' post.user.id %}"
      style="cursor: pointer"
      class="d-flex align-items-center justify-content-start border-bottom pb-2 flex-wrap"
    >
      <img
        src="{{ post.user.profile.image.url }}"
        alt="{{ post.user.username }}"
        class="rounded-circle me-2"
        width="50"
        height="50"
      />
      <div class="text-break flex-fill">
        <p class="fs-5 m-0">{{ post.user.username }}</p>
        <p class="fs-6 m-0 text-secondary">{{ post.user.email }}</p>
      </div>
      <div class="text-secondary">{{ post.timestamp|date:"d/m/y" }}</div>
    </div>
    <p class="mt-2 pb-2 border-bottom">{{ post.text }}</p>
    <div class="btn-group mb-1" style="width: fit-content">
      {% if not user.is_authenticated %}
      <button class="btn btn-primary" disabled>
        Likes
        <span data-like-count class="badge bg-secondary rounded-pill"
          >{{ post.likes.count }}</span
        >
      </button>
      {% else %}
      <a
        data-like-post
        href="{% url 'like_post' post.id %}"
        class="btn btn-primary"
      >
        <div class="d-inline" id="like-action-for-{{ post.id }}">
          {% if user in post.likes.all %} Unlike {% else %} Like {% endif %}
        </div>

        <span
          id="like-count-for-{{ post.id }}"
          class="badge bg-secondary rounded-pill"
          >{{ post.likes.count }}</span
        >
      </a>
      {% if user.id == post.user.id %}
      <a
        data-edit-button
        href="{% url 'edit_post' post.id %}?next="
        class="btn btn-outline-secondary"
        >Edit</a
      >
      <a
        data-delete-button
        href="{% url 'delete_post' post.id %}?next="
        class="btn btn-outline-danger"
        >Delete</a
      >
      {% endif %} {% endif %}
      <a class="btn btn-outline-success" href="{% url 'post_detail' post.id %}"
        >Comments</a
      >
    </div>
  </div>
  {% endfor %} {% endif %} {% endif %}
</div>
{% endblock %}

<script>
  const linkEl = document.querySelector("[data-create-post]")
  const likeEls = document.querySelectorAll("[data-like-post]")
  const editEls = document.querySelectorAll("[data-edit-button]")
  const deleteEls = document.querySelectorAll("[data-delete-button]")
  const redirectEls = document.querySelectorAll("[data-redirect]")

  linkEl.href += window.location.href

  editEls.forEach(edit => (edit.href += window.location.href))
  deleteEls.forEach(deleteEl => (deleteEl.href += window.location.href))

  function getCookie(name) {
    var cookieValue = null
    if (document.cookie && document.cookie !== "") {
      var cookies = document.cookie.split(";")
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim()
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
          break
        }
      }
    }
    return cookieValue
  }

  likeEls.forEach(likeEl =>
    likeEl.addEventListener("click", e => {
      e.preventDefault()

      const requestPath = likeEl.href

      fetch(requestPath, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
          "X-CSRFToken": getCookie("csrftoken"),
        },
      })
        .then(res => {
          if (res.ok) return res.json()
          return Promise.reject(res)
        })
        .then(data => {
          const likeActionEl = document.querySelector(
            `#like-action-for-${
              requestPath.split("/")[requestPath.split("/").length - 2]
            }`
          )

          document.querySelector(
            `#like-count-for-${
              requestPath.split("/")[requestPath.split("/").length - 2]
            }`
          ).textContent = data.likes

          if (data["like_action"] === "added")
            return (likeActionEl.textContent = "Unlike")
          likeActionEl.textContent = "Like"
        })
        .catch(err => alert("Something went wrong!"))
    })
  )

  redirectEls.forEach(elem => {
    elem.addEventListener("click", e => {
      window.location.href = elem.dataset.redirect
    })
  })
</script>
